---
layout: page
title: "About"
description: "Hello, this is Tony."
header-img: "img/about-me.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 我的简介 my profile </option>
    <option value="1"> 我的演说 my speeking </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        写写代码，做做设计，看看产品。
        我眼中的卓越很浪漫~
    </blockquote>
    2013年9月1日，Tony满怀憧憬地进入了北京邮电大学，从此走上了设计师的不归路<br><br>2014年的某一天，Tony做了一个终生难忘的梦：梦见自己老了，静静地站在几十层的高楼内向外望去，人来车往，川流不息，好一派繁华的景象。Tony的孙子用稚嫩的声音问：“爷爷，你这辈子做过最伟大的事是什么？”梦中的Tony一时语噎，良久，tony笑出声来：“知道吗？你爷爷在北京有车有房，难道不是件了不起的事吗！！” <br><br>Tony突然从梦中惊醒，我知道那半年整日游戏，碌碌无为的日子不是我要的生活。<br><br>是啊，谁说世界早已没有选择。Tony想做出改变世界的产品！<br><br>从那以后，Tony开始学习和设计各种产品（从实体到虚拟，从建模到原型），虽然累，乐在其中。<br><br>2015年7月，Tony加入了北邮人团队，开始了代码生涯，学服务器，学后台，痴迷于前端……<br><br>带着对世界未知事物无限的好奇，带着天蝎座骨子里对卓越的追求，在路上——世界这么大，我想去看看；在路上——世界这么美，我想让它更美；在路上——我在寻找的人也在寻找着我。<br>
    <br>这就是Tony，一个追求浪漫的卓越，懂点前端的交互设计师。

    <!-- <p style="text-align:right;">
        —— <a href="http://www.zhihu.com/question/19687065">李书航 － 什么是「共产中文腔调」？ </a>
    </p> -->

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Dandelion And I（Tony人生中第一篇英语演讲稿——蒲公英和我）
          ——由于是英文演说，强行翻译感觉怪怪的~
    </blockquote>

    <p>
    Hello everybody! Today, I’m very glad to share my stories with you.
    The theme of this speech is to introduce a thing which is like me.
    In fact, I take this thing with me today, this is a dandelion.
    Don’t feel strange! Only clever people can see it! So, do you see it? Ok, ok, just for fun! Then I will introduce it to you.<br>
    大家好！今天，我很高兴与大家分享我的故事。
    这次演讲的主题是介绍一个像我一样的东西。
    事实上，我今天带来了这个东西，这是一个蒲公英。
    不要觉得奇怪！只有聪明的人才能看到它！所以，你看到了吗？好吧，好吧，只是为了好玩！然后我将介绍它给你。
    
    </p>
    
    <p>
    Dandelion grows in many places all over the world. I have not thought that I would have some connections with it. So, when I was young, as long as I saw a dandelion, I would run to it, like every lovely kid, not “hu~~”, but “pu~~~~~”. So I have to wash my face. Good feeling! Later I studied biology, I surprised to find what a wonderful thing I have done. Yeah, I help it multiply!<br>    
    蒲公英在世界上许多地方生长。我没想到我会和它产生联系。所以，当我年幼的时候，只要我看到一朵蒲公英，我就跑过去，像每一个可爱的孩子，不是“hu~ ~”，而是“pu~~~~~”。因此我得去洗脸。这感觉真棒！后来我学了生物学，我惊奇地发现我做了一多么好的事情。是的，我帮助它繁衍！ 
    </p>

    <p>
    As I grow up, I’m always confused, for something like: what’s the purpose for me to come to this world? I could not answer.
    So, I liked to watch the Journey to the West with my grandma. Every time Tang Monk introduced him to others, he would say in Chinese:”贫僧是来自东土大唐的和尚，前往西天取经”. And my grandma would smile. I felt strange, so I asked her why. Then she told me that ”everything in this world has his own mission, if you want to do something great you must know these three things: where I come from, who I am, and where I will go”. At that time, I couldn’t understand, and a dandelion flied across window. I asked me: what is the dandelion’s mission?<br>
    当我渐渐地长大，我总是会对一些事情感到困惑，比如：我要来到这个世界上的目的是什么？我不能回答。
    所以，我喜欢和我的奶奶一起看西游记。每一次唐僧向别人介绍自己，他会说：“贫僧是来自东土大唐的和尚，前往西天取经。”我的奶奶会微笑。我觉得很奇怪，于是我问她为什么。然后她告诉我：“这个世界上的一切都有他自己的使命，如果你想做一些伟大的事情，你必须知道这三件事：我来自哪里，我是谁，我将去哪里。”我不能理解，那时，一朵蒲公英飞过窗口。我问自己：蒲公英的使命是什么？
    </p>

    <p>
    I observed that dandelion decorates the ground and gives out soft smell. So I thought its’ mission perhaps is to let the world beautiful, or dedication. And I learnt from it. I started to answer my classmates’ questions with patience, I took part in some volunteering activities, and I felt so good to share my happiness with others. Gradually, I became less confused. <br>   
    我观察到，蒲公英装饰地面，发出淡淡的清香。所以我想它的使命也许是让世界美丽，或者说，奉献。我向它学习。我开始尝试耐心解答同学们的问题，我参加了一些志愿者活动，在和别人分享我的快乐时我感到幸福。渐渐地，我变得不那么困惑了。
    </p>
    
    <p>
    One day, I saw a story about “信义兄弟” on TV. Sun donglin  inherited his brother’s honesty. I was so moved. At that time, I comprehended another important mission: let the wonderful things pass down, or inherit. Just like the dandelion, it not only makes its later generations all over the world, but also passes its belief to me. So, inherit is not limited to family, it can be accomplished between friends, classmates, teacher and students, and even strangers. I always believe there are some power that everybody believes in, learn them, inherit them, human will make progress and the world will be better. <br>   
    有一天，我在电视上看到了一个关于“信义兄弟“故事。孙东林传承了他哥哥的诚信。我是如此感动。当时，我领悟到了另一个重要的使命：让美好的东西代代相传，或传承。就像蒲公英，它不仅使它的后代在世界各地，而且还把它的信仰传承给了我。所以，传承不局限于家庭，它可以在朋友、同学、老师和学生、甚至陌生人之间完成。我始终相信，这个世界上有一些力量被每个人信仰，学习它们，传承它们，人类会进步，世界也会变得更好。
    </p>

    <p>
    There is a famous Chinese comedian named Dicky. When he was quite poor and alone, he went to visit his new boss and asked for help. His boss gave him a check without hesitation. He told Dicky only one sentence, in Chinese, “赚到就要给，学到就要教”. The boss named Andy. Today, I want to use this sentence to make the end. “赚到就要给” means dedication, and “学到就要教” means inherit. Dedication and inherit is the most important mission during my lifetime!<br>    
    中国有个著名的喜剧演员叫Dicky。当他穷困潦倒的时候，他去拜访他的新老板，并寻求帮助。他的老板毫不犹豫地给了他一个支票。他的老板只说了一句话，“赚到就要给，学到就要教。”老板叫Andy。今天，我想用这句话来做结尾。“赚到就要给”意味着奉献，“学到就要教”意味着传承。奉献和传承是我一生中最重要的使命！（ps：Dicky是张卫健，Andy是刘德华）
    </p>

    <p>
    Thank you, and wish you can find your own dandelion one day! <br>
    谢谢你们，也希望各位有天能找到属于自己的蒲公英！
    </p>

    <!-- <p style="text-align:right;">
    -- Steve Jobs
    </p> -->

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
